<%= form.fields_for(:tags) do |t| %>
  <%= t.text_field :name, class: 'input-small' %>
    <div class="controls">
      <% unless t.object.nil? || t.object.new_record? %>
        <%= t.check_box :_destroy, label: 'Remove', class: 'checkbox' %>
      <% end %>
    </div>
<% end %>