/* FC Webicons by Fairhead Creative http://fairheadcreative.com at https://github.com/adamfairhead/webicons */

/* File edited to remove un-used social networks and sizes */

.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 5px; }
.fc-webicon:hover { margin: -1px 0 1px; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }

/* Tumblr */
.no-svg .fc-webicon.tumblr { background-image: url(image_path("fc-webicon-tumblr.png")); }
.svg .fc-webicon.tumblr { background-image: url(image_path("fc-webicon-tumblr.svg")); }

/* Twitter */
.no-svg .fc-webicon.twitter { background-image: url(image_path("fc-webicon-twitter.png")); }
.svg .fc-webicon.twitter { background-image: url(image_path("fc-webicon-twitter.svg")); }
