.navbar {
  .social a {
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .navbar-text {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  
  #user-login {
    margin-right: 5px;
  }

  .fa {
    font-size: 1.5em;

    &.fa-chevron-down {
      font-size: 1.0em;      
    }
  }

}