.post {
  .btn-edit {
    margin-left: 10px;
  }

  h2 small {
    line-height: 42px;
  }

  .tags {
    margin-left: 10px;
  }

  i {
    margin-right: 2px;
  }

  img {
    margin: 0 0 10.5px;
  }
}

#edit-post {
  label.checkbox {
    display: inline;
  }

  input[type="checkbox"] {
    margin-bottom: 5px;
  }
} 
