.post {
  .btn-edit {
    margin-left: 10px;
  }

  .tags {
    margin-left: 10px;

    .label {
      margin-left: 5px;
    }

    a.tag {
      color: white;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

#edit-post {
  label.checkbox {
    display: inline;
  }

  input[type="checkbox"] {
    margin-bottom: 5px;
  }
} 
