<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li> <%= link_to image_tag('twitter-bird-light-bgs.png', class: 'twitter-logo'), 'http://twitter.com/ewok_13', class: 'twitter-link' %> </li>
   <li> <%= link_to image_tag('tumblr.png'), 'http://ewok_13.tumblr.com', class: 'tumblr-link' %> </li>
</ul>