<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li> <%= link_to image_tag('https://twitter.com/images/resources/twitter-bird-light-bgs.png', class: 'twitter-logo'), 'http://twitter.com/ewok_13', class: 'twitter-link' %> </li>
   <li> <%= link_to image_tag('http://www.elkinsrealestate.net/uploads/4/4/7/3/4473351/4488566.png?82'), 'http://ewok_13.tumblr.com', class: 'tumblr-link' %> </li>
</ul>