<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li> <%= link_to 'Tumblr', 'http://ewok13.tumblr.com' %> </li>
  <li> <%= link_to image_tag('https://twitter.com/images/resources/twitter-bird-light-bgs.png', class: 'twitter-logo'), 'http://twitter.com/ewok_13', class: 'twitter-link' %> </li>
</ul>