<%= link_to "Home", root_path, :class => 'brand' %>

<div class="nav-collapse collapse" id="main-menu">
  <ul class="nav" id="main-menu-left">
    <% if user_logged_in? %>
      <li><%= link_to 'Logout', logout_path %></li>
    <% else %>
      <li><%= link_to 'Login', login_path %></li>
    <% end %>
</div>

<ul class="nav">
  <a href="http://twitter.com/ewok_13" class="fc-webicon twitter">Tweet Tweet!</a>
  <a href="http://ewok13.tumblr.com" class="fc-webicon tumblr">Tweet Tweet!</a>
</ul>